@font-face {
  font-family: Pt_Sans_Caption;
  src: local('PTSansCaptionRegular'), url(./fonts/PT_Sans_Caption/PTSansCaption-Regular.ttf) format('truetype');
}

.Nav {
  background-color: #202121;
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navLinks > a {
  padding: 35px;
  color: #F5F7F7;
  text-transform: uppercase;
  font-family: PT_Sans_Caption;
  font-size: 18px;
}

#logo {
  width: 175px;
  height: 175px;
  padding-left: 20px;
  position: relative;
  bottom: -55px;
  z-index: 99;
}

#cartIcon {
  width: 45px;
  height: 45px;
  padding-right: 20px;
}

a:link {
  text-decoration: none;
}
